- name: Check connection for {{ ip }}:{{ port }}
  wait_for:
    host: "{{ ip }}"
    port: "{{ port }}"
    timeout: 3
  register: result_{{ ip | replace('.', '_') }}_{{ port }}

- name: Generate JUnit report for {{ ip }}:{{ port }}
  copy:
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <testsuite name="IP Port Check - {{ ip }}:{{ port }}" tests="1">
        <testcase classname="PortCheck" name="{{ ip }}:{{ port }}">
          {% if result_{{ ip | replace('.', '_') }}_{{ port }}.failed %}
          <failure message="Connection failed">Failed to connect to {{ ip }}:{{ port }}</failure>
          {% endif %}
        </testcase>
      </testsuite>
    dest: "{{ report_dest }}/{{ ip | replace('.', '_') }}_{{ port }}_report.xml"
